.dashboard-content-navigator {
    align-content: center;
    display: flex;
}

.dashboard-content-navigator .navigator-button {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    color: #C1C1C1;
    padding-right: 1px;
}

.dashboard-content-navigator .navigator-button:hover {
    color: #a4a4a4;
}

.dashboard-logo-design {
  opacity: 1;
  font-size: 32px;
  font-weight: bold;
  background-color: transparent !important;
  color: #000000 !important;
  border: none !important;
  margin-right: 10px;
  margin-left: 10px;
}