.dashboard-content-navigator {
    width: fit-content;
    height: fit-content;
}

.dashboard-content-navigator .navigator-button {
    border: none;
    background: rgba(0, 0, 0, 0.07);
    margin: 0 0 5px 5px;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.dashboard-content-navigator .navigator-button:hover {
    background: rgba(0, 0, 0, 0.12);
}