.blackout-care-page-container {
  position: relative;
  border-radius: 30px;
  background: #FFFFFF;
}

.care-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  color: #343738;
}

.headerHC {
  display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    height: 50px;
    width: 100%;
}

.header h2, h3, h4, h5 {
  margin: 0;
  align-content: center;
}

h5 {
  margin: 5px 0 10px 0;
  align-content: center;
}


.AccordionDetails {
  max-height: 500px;
  overflow-y: auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.care-column {
  height: 750px;
  width: 450px;
  padding: 15px;
  background-color: #EEF7F44D;
  border-radius: 12px;
  border: 1px solid #D2D2D2;
}


.Button.MuiButton-contained {
  font: 12px "RedHatDisplay";
}

.half-care-column {
  width: 450px;
  padding: 15px;
  background-color: #EEF7F44D;
  border-radius: 12px;
  border: 1px solid #D2D2D2;
  margin-bottom: 4%;
}

.half-care-column textarea {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 55px;
  width: 100%;
  border-radius: 8px;
  resize: None;
  padding: 5px;
  border: 1px solid #D2D2D2;
}


.half-care-column textarea:focus::placeholder{
  opacity: 0;
}

.half-care-column textarea::placeholder{
  opacity: 1;
}

.half-care-column textarea:focus + label,
.half-care-column textarea:not(:placeholder-shown) + label{
  opacity: 1;
}


.care-notes {
  height: 100px;
  overflow-y: scroll;
}

.note{
  overflow-x: scroll;
  overflow-y: hidden;
}


.divider {
  height: 1px;
  width: 100%;
  background-color: #D2D2D2;
  margin: 5px 0 15px 0;
}

.divider-low-margin {
  height: 1px;
  width: 100%;
  background-color: #D2D2D2;
  margin: 5px 0 5px 0;
}



.half-care-note-submit {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.half-care-column button:hover {
  opacity: 1;
  cursor: pointer;
}

.each-point {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.each-point:nth-child(odd) {
  background-color: #F6F0F6;
}

.care-column input {
}

.room-checks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.room-check {
  padding: 7px;
  background-color: #0032380F;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #D2D2D2;
}

.room-check.checked {
  background-color: #003238;
  color: #fff;
  border: 1px solid #D2D2D2;
}

.half-care-column h3 {
  margin: 0;
}

select {
  width: 48%;
  height: 35px;
  cursor: pointer;
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 24px;
  appearance: none; /* Removes default styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border: 1px solid #D2D2D2;
}

select:hover {
  border: 1px solid black;
}

.TypographyHC.MuiButton-outlined {
    width: fit-content;
    height: 40px;
    border-radius: 24px;
    padding: 3px 16px;
}

.TypographyHC.MuiOutlinedInput-root {
    width: 220px;
    border: None;
    border-radius: 24px;
    margin: 5px 5px 0;
    padding: 3px 22px;
}

.TypographyHC.MuiTypography-subtitle1 {
  font: bold 17px "RedHatDisplay";
  margin-left: 5px;
}

.TypographyHC.MuiTypography-body2 {
  margin-top: 10px;
  font: bold 18px "RedHatDisplay";
  margin-left: 5px;

}

.TypographyHC.MuiTypography-h6 {
  font: bold 20px "RedHatDisplay";

}

.TypographyHC.MuiTypography-h5 {
  font: bold 22px "RedHatDisplay";
  margin-left: 10px;
}

