.sidebar {
  display: grid;
  justify-content: center;
  position: relative;
  height: 100%; /* Full-height: stretch from top to bottom */
  width: 90px; /* Set the width */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #FFFFFF; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid black;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 25%);
}

.sidebar h3 {
  padding-left: 15px;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidebar-main-contents.hover img:hover {
  opacity: 1 !important;
}


.sidebar-content {
  height: fit-content;
  align-self: center;
}

.sidebar-main-contents {
  width: 100%;
  text-align: center;
  margin-block: 10px 10px;
}


.home-button {
  display: None;
  height: fit-content;
  width: 100%;
  top: 1.5rem;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent !important;
  color: #000000 !important;
  border: none !important;
  cursor: pointer;
}

.home-button:hover{
  text-shadow: 0 4px 3px rgba(0, 0, 0, 25%);
}

.logout-button {
  height: fit-content;
  width: 100%;
  bottom: 1.5rem;
  position: absolute;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 25%);
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}

.stat-button {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}
