@font-face {
  font-family: 'RedHatDisplay';
  src: url('assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

body {
  font-family: 'RedHatDisplay', sans-serif !important;
    background-color: #28252F;
}

.body, html {
    overflow: hidden; /* Optional: prevent scroll */
}


.mainContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vh;
}


.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 55px;
  font-weight: bold;
  color: #FBFBFB;
  justify-content: left;
  text-align: left !important;
}

.subTitleContainer {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  font-style: italic;
  color: #98979B;
  justify-content: left;
  text-align: left !important;
}

.resultContainer, .historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}


.imageContainer {
    min-height: 100%;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden; /* Ensures no part of the image spills out */
}

.homeContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
}

.loginContainer{
    top: 175px;
    left: 934px;
    position: absolute;
    width: auto;
    height: auto;
}


.registerContainer{
    width: 660px;
    left: 934px;
    position: absolute;
}

.dashboard-content-background {
    position: absolute !important;
    top: 20px;
    left: 180px;
}

.dashboard-content-container {
    margin: 10px 0 0 0;
    display: grid;
    height: 750px;
    width: 86vw;
    background-color: transparent;
}

.loginFormContainer {
    text-align: center;
    width: 660px;
}


.formContainer {
    height: 6vh;
    width: 660px;
    display: flex;
    position: relative;
    margin-bottom: 3vh;
    border-radius: 45px;
    border: 1px solid grey;
}


.Select {
    height: 50px;
    border-radius: 45px !important;
    margin-bottom: 30px;
    z-index: 999;
}

.select__control {
    background-color: #f0f0f0;
    height: 650px;
    width: 320px;
    display: flex;
    position: relative;
    border-radius: 45px !important;
    border: 1px solid grey;
    max-height: 50px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: 999;
}

.select__control::-webkit-scrollbar {
  display: none;
}

.select__menu {
    border-radius: 5px;
    max-height: 150px;
    overflow-y: scroll;
    z-index: 999;
    box-sizing: border-box !important; /* Ensure consistent sizing */
    cursor: pointer !important;
    margin: 0;
    padding: 0;
}

.select__option {
    cursor: pointer;
    z-index: 999;
}

.formBox{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    color: #98979B;
    border-radius: 45px;
    border: none;
    font-size: 1.3vw;
    padding: .7vw;
}

.formContainer .errorLabel {
  color: red;
  font-size: 1.3vw;
}

.formContainer label {
    margin: 12px 0 0 15px;
    padding: 1px;
    position: absolute;
    align-self: start;
    font-size: 1.3vw;
    background: #28252F;
    color: #98979B;
    pointer-events: none;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    left: 5px;
}

.inputButton{
    height: 5vh;
    width: 640px;
    background-color: #FBFBFB !important;
    color: #000000 !important;
    border: none !important;
    border-radius: 45px !important;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label{
    opacity: 1;
    transform: scale(0.70) translateY(-150%) translateX(-25%);
    padding: 3px;
    left: 5px;
}

.formContainer select {
  appearance: none;
}

.formContainer select:hover {
  cursor: pointer;
}

.miniAdd {
    height: 50px;
    width: 90px;
    background-color: #A695CC;
    font: 24px "RedHatDisplay";
    border: none !important;
    border-radius: 45px !important;
}

.miniRemove {
    height: 50px;
    width: 90px;
    background-color: #E77169;
    font: 24px "RedHatDisplay";
    border: none !important;
    border-radius: 45px !important;
}

.miniDisabled {
    height: 50px;
    width: 90px;
    background-color: rgba(231, 113, 105, 0.2);
    font: 24px "RedHatDisplay";
    border: none !important;
    border-radius: 45px !important;
}

.miniAdd:hover, .miniRemove:hover{
    cursor: pointer;
}





/*.logout-button {*/
/*  top: -0.5vw;*/
/*  left: 0.2vw;*/
/*  display: flex;*/
/*  position: relative;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  text-align: center;*/
/*  font-weight: bolder;*/
/*  font-size: 1.5vw !important;*/
/*  stroke: black;*/
/*  text-shadow: 0 4px 3px rgba(0, 0, 0, 25%);*/
/*  background-color: transparent !important;*/
/*  color: #000000 !important;*/
/*  border: none !important;*/
/*}*/
