.main-container {
  height: 100vh; /* Same as the sidebar width */
  width: 100vw;
  background-color: #ECEDEC;
  flex-grow: 1; /* Ensures that the content area takes up the remaining space */
}

.patients-content-container {
    display: inline-block;
    position: absolute;
    width: 86vw;
    height: 80vh;
    top: 9vh;
    left: 11vw;
    background-color: transparent;
}

.dashboard-add-patient-container {
    position: relative;
    top: 0;
    height: 13em;
    width: 49%;
    float: left;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.dashboard-remove-patient-container {
    position: relative;
    top: 0;
    height: 13em;
    width: 49%;
    float: right;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.dashboard-remove-patient-container img,
.dashboard-add-patient-container img {
    margin: 1.5em;
    width: 2.5em;
    height: fit-content;
}

.dashboard-remove-patient-container h1,
.dashboard-add-patient-container h1 {
    margin: 0;
    margin-top: 0.65em;
    font-size: 1.8vw;
    color: #003238;
}


.dashboard-remove-patient-container h2,
.dashboard-add-patient-container h2 {
    margin: 0;
    font-size: 1.2vw;
    color: #28252F;
    font-weight: normal;
}

.dashboard-remove-patient-container button,
.dashboard-add-patient-container button {
    width: 15em;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-size: 1em;
    opacity: 0.5;
}

.dashboard-remove-patient-container button:hover,
.dashboard-add-patient-container button:hover {
    opacity: 1;
    cursor: pointer;
}


.patients-container {
  width: 100%;
  height: 510px;
  border-radius: 24px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.dashboard-patients-container {
    position: relative;
    top: 2em;
    height: 35em;
    float: right;
    border-radius: 25px;
}

.patients-header {
  height: fit-content;
  display: flex;
  font-size: 12px;
  color: rgba(40, 37, 47, 0.7);
  font-weight: 400;
}


.patients-title {
  padding: 0;
  margin: 0;
  color: #003238;
  flex-grow: 1;
  flex-basis: auto;
  font: 700 32px "RedHatDisplay";
}

.search-container {
  width: 30%;
  height: 80%;
  border-radius: 24px;
  background-color: #ECEDEC;
  display: flex;
  align-self: center;
  border: none;
}


.search-icon {
  aspect-ratio: 1;
  object-position: center;
  width: 16px;
  margin-left: 5%;
}

.search-container input {
  font: 200 18px "RedHatDisplay";
  background: transparent;
  margin-left: 2%;
  width: 100%;
  outline: none;
  border: none;
}

.sort-container {
  border-radius: 24px;
  border: 1px solid rgba(40, 37, 47, 0.7);
  display: flex;
  gap: 20px;
  letter-spacing: 0.24px;
  justify-content: space-between;
  padding: 10px 12px;
}

.sort-label {
  font-family: "RedHatDisplay";
}

.sort-icon {
  aspect-ratio: 1.79;
  object-position: center;
  width: 9px;
  fill: rgba(40, 37, 47, 0.7);
  margin: auto 0;
}

.patients-container .divider {
  line-height: normal;
  background-color: #c1c1c1;
  color: #FFFFFF;
  border-radius: 1px;
  height: 1px;
  width: 100%;
  margin-top: 2%;
}


.patients-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 24px 29px 0 0;
}

@media (max-width: 991px) {
  .patients-grid {
    max-width: 100%;
    margin-right: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.patient-card {
  justify-content: center;
  align-items: start;
  border-radius: 33px;
  border: 1px solid rgba(40, 37, 47, 0.3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.patient-card:hover {
  border: 1px solid #000000;
}


@media (max-width: 991px) {
  .patient-card {
    padding-right: 20px;
  }
}

.patient-info {
  display: flex;
  gap: 12px;
}

.patient-avatar {
  aspect-ratio: 1;
  object-position: center;
  width: 42px;
}

.patient-details {
  display: flex;
  flex-direction: column;
}

.patient-name {
  color: #28252f;
  font: 700 18px "RedHatDisplay";
}

.patient-location {
  color: rgba(40, 37, 47, 0.7);
  letter-spacing: 0.24px;
  font: 300 16px "RedHatDisplay";
}